*::after, *::before{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    font-family: 'Rubik', sans-serif;
    background-color: rgb(56, 55, 55);
    color: white;
    font-size: 62.5%;
}

.contenedor{
    height: 100vh;
    width: 70vw;
    margin: 2rem auto;
}

.contenedor h2{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
    font: 2.3rem;
}

.formulario-datos{
    display: block;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 1rem auto;
}

.formulario-datos input{
    margin: 1rem 0rem;
    line-height: 3rem;
    background: none;
    color: white;
    outline: 0;
    border: 0;
}

.formulario-datos :active{
    border-bottom: dodgerblue 1px solid;
}

.formulario-datos :focus{
    border-bottom: dodgerblue 1px solid;
}

.formulario-datos button{
    margin: 0;
    background-color: rgb(19, 119, 219);
    color: white;
    text-transform: uppercase;
    height: 3rem;
    border-radius: 5px;
    outline: 0;
    border: 0;
}   

.listado-tareas{
    display: flex;
    flex-direction: column;
}

.tarea{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 4rem;
}

.icono{
    color: tomato;
    cursor: pointer;
}